.block
  .category.col-md-4
    .a-date
      = article.published_at.try(:to_date)
  .article.col-md-8
    .a-title
      = link_to article.title, article.url
    .a-author
      = "By #{article.author}"
    .a-content
      = (article.summary || article.content).try(:html_safe)

